/*Inicio da formatação de toda a página*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

/*Final da formatação de toda a página*/

/*Inicio da formatação de toda a tag main*/

main{
    color: #0000008c;
}

/*Final da formatação de toda a tag main*/

/*Inicio da formatação do topo da página*/

.topo-page{
    background-color: #00cad1
}
.container{
    max-width: 1024px; /*Tamanho máximo que os items irão ocupar dentro do container*/
    margin: 0 auto;
}
.container-topo {
    display: flex;
    align-items: center;
    justify-content: space-around;
   height: 80px;
}
.links-topo{
    color: #fff;
    font-weight: bold;
    margin-left: 15px;
    font-size: 18px;
}
.links-topo:hover{
    color: #006057;
}

/*Final da formatação do topo da página*/

/*Inicio da formatação do primeiro container*/

.container-inicial{
    position: relative;
    background-image: url(../assets/recepcao.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}
.container-inicial-texto{
    color: #fff;
    height: 100%;
    padding: 10px;

    display: flex;
    align-items: center;
}
.container-inicial-texto h1{
    font-size: 38px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 500;
}

/*Final da formatação do primeiro container*/

/*Inicio da formatação do container sobre*/

.container-sobre{
    text-align: center;
    margin-top: 40px;
}
.container-sobre-conteudo h3{
    margin-bottom: 20px;
    font-size: 28px;
}
.container-sobre-exclusividade{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-sobre-exclusividade h4{
    font-weight: 400;
    margin-bottom: 40px;
}
.container-sobre-exclusividade ul li{
    margin-left: 50px;
    text-align: left;
}

/*Final da formatação do container sobre*/

/*Inicio da formatação do container de especialidades*/

.container-especialiadades-clinica{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 30px;
    text-align: center;

}
.container-especialiadades-clinica h4{
    font-size: 28px;
    margin-bottom: 20px;
}
.container-especialiadades-clinica-imagens{
    display: flex;
    flex-wrap: wrap;
}
.container-especialiadades-clinica-imagens img{
    width: 100%;
    margin-top: 40px;

}
.box-especialidade-clinica{
    margin: 20px;
    width: calc(100% / 3 - 40px);

    border-radius: 3px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 50%);
}
.box-especialidade-clinica figcaption{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.link-horarios-especialidade{
    text-align: center;
    margin-top: 20px;
}
.link-horario{
    background-color: #00cad1;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
}

/*Final da formatação do container de especialidades*/

/*Inicio da formatação do container de contato*/

.container-localizacao{
    text-align: center;
    margin-top: 40px;
}
.container-localizacao-conteudo h3{
    font-size: 28px;
}
.container-localizacao-conteudo p{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Final da formatação do container de contato*/

/*Inicio da formatação do container do rodape*/

.rodape-page{
    background-color: #006057;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
.logo-rodape{
    width: 150px;
}
.rodape-page p{
    line-height: 30px;
}

/*Final da formatação do container de rodape*/